<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/icons/sgIcon.png" type="image/png">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/products.css">
    <title>stashGrid</title>
</head>
<body>
    <%- include('partials/header') %>
    <div class="content">
        <form action="/products" method="GET" class="filter">
            <div class="filter_cat">Filter by categories :</div>
            <% categories.forEach((item) => { %>
                <div class="categories">
                    <div><input type="checkbox" name="categories" value="<%= item.category %>" <%= selected_categories.includes(item.category) ? 'checked' : '' %>></div>
                    <div><%= item.category.charAt(0).toUpperCase() + item.category.slice(1) %></div>
                </div>
            <% }) %>
            <div><button class="btn" type="submit">Apply Filters</button></div>
            <div>
                <div style="display: inline-block;" class="add_product"><a href="<%= userIn ? '/products/add_product' : '/auth/signUp' %>">+ add Product</a></div>
                <% if(!userIn){ %>
                    <div style="font-size: 0.9rem; color: rgb(195, 20, 20);"> *Sign up or log in to add products.</div>
                <% }%>
                
            </div>
            
            
        </form>
        <div class="container">
            <% products.forEach((product) => { %>
                <div class="product">
                    <img src="<%= product.image_path %>" alt="<%= product.name %>">
                    <div class="name_price">
                        <span><%= product.name %></span>
                        <span><%= product.price %></span>
                    </div>
                    <div class="category_db <%= product.category %>" ><%= product.category.charAt(0).toUpperCase() + product.category.slice(1) %></div>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>

<!-- <%= userIn ? '/products/add_product' : '/auth/signUp' %> -->