<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/icons/sgIcon.png" type="image/png">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/products.css">
    <title>stashGrid</title>
</head>
<body>
    <%- include('partials/header') %>
    <div class="content">
        <form action="/products" method="POST" class="filter">
            <div class="filter_cat">Filter by categories :</div>
            <% categories.forEach((item) => { %>
                <div class="categories">
                    <div><input type="checkbox" name="include_category" ></div>
                    <div><%= item.category.charAt(0).toUpperCase() + item.category.slice(1) %></div>
                </div>
            <% }) %>
            <div><button class="btn" type="submit">Apply Filters</button></div>
        </form>
        <div class="container">
            <% products.forEach((product) => { %>
                <div class="product">
                    <img src="<%= product.image_path %>" alt="<%= product.name %>">
                    <div class="name_price">
                        <span><%= product.name %></span>
                        <span><%= product.price %></span>
                    </div>
                    <div class="category_db <%= product.category %>" ><%= product.category.charAt(0).toUpperCase() + product.category.slice(1) %></div>
                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>